/* In this lesson I learned how to  prioritize one style over another by overriding certain classes in the code.*/
<style>
  body {
    background-color: black;
    font-family: monospace;
    color: green;
  }
  .pink-text{
    color: pink;
  }
</style>
<h1 class="pink-text">Hello World!</h1>
